.hero {
    background-color: #000e16;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.hero-content {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 1rem;
    padding: 0 0 0 3rem;
}

.landing-page-animation {}

.hero-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    max-width: 32rem;

}

.hero-img {
    min-width: 26rem;
    max-width: 85%;
    min-height: 89vh;
    max-height: 20rem;
    position: relative;
    overflow: hidden;

    background-color: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.hero-content h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: -15px;
    text-align: left;
}

.hero-content .welcome-slogan {
    font-size: 1.2rem;
    font-weight: 400;

}

.getStartedBtn {
    padding: .8rem .9rem;
    background-color: #f5a47b;
    color: #232121;
    border: none;
    border-radius: 0.5rem;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.getStartedBtn:hover {
    background-color: #f5c2a9;
    color: #232121;
}

.objects {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1100px) {
    .hero-text h1 {
        font-size: 2.1rem;

    }

    .hero-text .welcome-slogan {
        font-size: .9rem;
    }
}

@media screen and (max-width: 968px) {
    body {
        padding: 4rem 1rem 1rem 1rem;
        background-color: rgb(11, 11, 11);
    }

    .hero-content {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        height: auto;
        background-color: transparent;
        width: 100%;
        padding-left: 1rem;
        min-height: 100%;
        height: auto;
    }

    .hero-text {

        text-align: left;
        min-width: 90%;
        max-width: 70%;
    }

    .hero-img {
        min-width: 90%;
        max-width: 95%;
        height: auto;
        max-height: 20rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content .welcome-slogan {
        font-size: 1rem;
    }
}