* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

.app-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(8, 10, 11);
    background-color: rgb(6, 8, 9);
    color: #262626;
    width: 100%;
    height: 3.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 2rem;
}

.app-nav nav .header-titles a {
    color: #444;
    text-decoration: none;
    font-size: .95rem;
    font-weight: 501;
    padding: .5rem .6rem;
    border-radius: 8px;
}

.app-nav nav .header-titles li:hover {
    color: #fcd4d4;
    animation: color-fade-in .3s linear;
    animation-fill-mode: forwards;
}

.app-nav nav .header-titles {
    display: flex;
    list-style: none;
    gap: .1rem;
}

.app-nav nav .header-titles li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1rem;
    border-radius: 4px;
}

.app-nav .logo img {
    max-width: 2.3rem;
    height: auto;
}

.loginArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}

.loginArea .loginBtn,
.signupBtn {
    padding: 0.5rem 1rem;
    background-color: #92e3a9;
    color: #262626;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .91rem;
}

.signupBtn {
    background-color: transparent;
    color: #fff;
}

.loginBtn:hover {
    background-color: #aee7be;

}

.signupBtn:hover {
    animation: color-fade-in .3s linear;
    animation-fill-mode: forwards;
    background-color: transparent;
}

.header-title-icon {
    width: 1.1rem;
}

@keyframes color-fade-in {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #ffffff45;
        color: white;
    }
}

@media screen and (max-width: 868px) {
    .app-nav nav {
        padding: 10px 10px;
    }

    .app-nav .logo img {
        width: 3rem;
        height: 3rem;
    }

    .app-nav nav a {
        font-size: .8rem;
    }

    .loginArea .loginBtn,
    .signupBtn {
        padding: 0.4rem .8rem;
        font-size: .8rem;
        font-weight: 600;
        color: #fff;
    }

    .mobile-header-titles {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 3rem;
        right: 0;
        background-color: #171a1c;
        width: 100%;
        /* max-height: 0; */
        height: 100vh;
        padding: 1rem;
        z-index: 10000;
        list-style: none;
        display: none;
        /* transition: max-height 0.5s ease-in-out; */

    }

    .mobile-header-titles li a {
        color: #fff;
        font-size: 2rem;
        padding: .5rem .6rem;
        margin: .5rem 1rem;
        border-radius: 8px;
        font-weight: 500;
        text-decoration: none;

    }

    .mobile-header-titles.open {
        max-height: 100vh;
        /* expand to full height when open */
    }

    @keyframes displayMenu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

.hamburger-img {
    width: 1.4rem;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
}