.home-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    min-width: 20rem;
    height: auto;
    position: relative;
    max-width: 25rem;
}

.home-inputs-title {
    font-size: .95rem;
    font-weight: 600;
    color: #2d2d2d;
    text-align: left;
    width: 100%;
}

.home-inputs .input {
    width: 100%;
    position: relative;
}

.home-inputs .input input {
    width: 100%;
    padding: 15px 30px;
    margin: 7px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: .9rem;
    position: relative;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 10px 10px 0px rgba(147, 147, 147, 0.1);
}

.input-icons {
    position: absolute;
    width: 17px;
    height: auto;
    top: 34%;
    left: 1.5%;
    z-index: 100;
}